body{
    padding:50px;
    background-color:#EEE4DB;
    display: flex;
    flex-direction: column;
    padding:30px;
    font-family: "Libre Baskerville", Helvetica, sans-serif;
}

a:link {
    color: rgb(255, 255, 255);
    text-decoration: none;
  }
  
  a:visited {
    color: rgb(255, 255, 255);
    text-decoration: none;
  }
  
  
  a:hover {
    color: rgb(255, 239, 207);
    text-decoration: none;
  }
  
  a:active {
    color: rgb(255, 255, 255);
    text-decoration: none;
  }



header{
    display: flex;
    flex-direction: column;
}


/*Index*/

#recipeListBackGround{
    display: flex;
    padding:50px;
    flex-direction: column;
    justify-content: left;
    align-items: left;
}

#recipeNav{
    display:flex;
    flex-direction: row;
    gap:20px;
}

.addRecipeBtn {
    border-radius: 50px;
    background: #6D5747;
    color: white;
    display: inline-flex;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.addRecipeBtn:hover{
    background: #221b16;
    transition: 0.3s;
    color: rgb(255, 255, 255);
}

#espressoRecipesBtn{
    border-radius: 50px;
    background: #332A2A;
    color: white;
    display: inline-flex;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}


.recipeList {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 35px 10px 35px;
    gap: 20px;
    border-radius: 20px;
    background: #443939;
    color: white;
    flex-basis: 0;
    justify-content: space-between;
    max-width: 800px;
}

#recipeSection{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.recipeTitle {
    flex-grow: 1; 
    text-align: left;
}

.listRight{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 25px;
    justify-content: flex-end;
}

.brewNowBtn{
    border-radius: 50px;
    background: #6D5747;
    color: white;
    display: inline-flex;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.brewNowBtn:hover{
    background: #5e463e;
    transition: 0.3s;
    color: rgb(255, 255, 255);
}


/*Add Recipe*/

#formBackground{
    border-radius: 35px;
    background: #CCC2BA;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.addRecipe{
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 300px;
}

#addEspressoRecipe input[type="text"],
#addEspressoRecipe input[type="number"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 35px;
    box-sizing: border-box; 
}

/*Brew page*/


#brewBackground{
    border-radius: 35px;
    background: #CCC2BA;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-between;
    gap:20px;
    max-width: 800px;
}

#recipeNav{
    justify-content:space-between;
}
#brewInfo{
    display: flex;
    flex-direction: row;
    gap:20px;
    justify-content:space-between;
}

#waterML{
    border-radius: 50px;
    background: #6D5747;
    padding: 10px 30px;
    gap: 10px;
    color:white;
}

#pourTime{
    border-radius: 50px;
    background: #6D5747;
    padding: 10px 30px;
    gap: 10px;
    color:white;
}

#preparation{
    border-radius: 30px;
    background: #443939;
    width:500px;
    padding:10px 50px 10px 50px;
    color: white;
}

#timeDisplay{
    border-radius: 30px;
    border: 10px solid #6D5747;
    background: #EEE6E0;
    width:500px;
    padding:50px;
}

