body{
    padding:50px;
    background-color:#EEE4DB;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:30px;
    font-family: "Libre Baskerville", Helvetica, sans-serif;
}

a:link {
    color: rgb(255, 255, 255);
    text-decoration: none;
  }
  
  a:visited {
    color: rgb(255, 255, 255);
    text-decoration: none;
  }
  
  
  a:hover {
    color: rgb(255, 239, 207);
    text-decoration: none;
  }
  
  a:active {
    color: rgb(255, 255, 255);
    text-decoration: none;
  }



header{
    display: flex;
    flex-direction: row;
    gap:20px;
    justify-content: space-between;
}


/*Index*/
#container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}

header{
    justify-content: space-between;
    align-items: center;
}

#recipeListBackGround{
    display: flex;
    padding:50px;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    max-width: 800px;
}

#recipeNav{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap:20px;
}
.navlist{
    display:flex;
    flex-direction: row;
    gap:20px;
    list-style-type: none;

    color: #736c64;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.navlist li a {
    color: #4E453A;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    transition:0.5s;
}

.navlist li a:hover {
    color: #8c7b66;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    transition:0.5s;
}

#noneSection{
    display: flex;
    flex-direction: column;
    padding: 50px;
    align-items: center;
    border-radius: 35px;
    background: #CCC2BA;
    padding: 50px;
}
.addRecipeBtn {
    border-radius: 50px;
    background: #6D5747;
    color: white;
    display: inline-flex;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    transition:0.5s;
    border:none;
}

.addRecipeBtn:hover{
    background: #221b16;
    transition: 0.3s;
    color: rgb(255, 255, 255);
    transition:0.5s;
}

#clearData{
    border-radius: 50px;
    border:none;
    background: #804551;
    color: white;
    display: inline-flex;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    transition:0.5s;
}


#clearData:hover{
    background: #af5f6f;
    transition:0.5s;
}

#espressoRecipesBtn{
    border-radius: 12px;
    background: #332A2A;
    color: white;
    display: inline-flex;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}


.recipeList {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 35px 10px 35px;
    gap: 20px;
    border-radius: 20px;
    background: #443939;
    color: white;
    flex-basis: 0;
    justify-content: space-between;
    max-width: 800px;
}

#recipeSection{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.recipeTitle {
    flex-grow: 1; 
    text-align: left;
}

.listRight{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 25px;
    justify-content: flex-end;
}

.brewNowBtn{
    border-radius: 50px;
    background: #6D5747;
    color: white;
    display: inline-flex;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    transition:0.5s;
}

.brewNowBtn:hover{
    background: #5e463e;
    transition: 0.3s;
    color: rgb(255, 255, 255);
    transition:0.5s;
    padding: 10px 30px;
}


/*Add Recipe*/

#formBackground{
    border-radius: 35px;
    background: #CCC2BA;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.addRecipe{
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 300px;
}

#addEspressoRecipe input[type="text"],
#addEspressoRecipe input[type="number"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 35px;
    box-sizing: border-box; 
}

/*Brew page*/


#brewBackground{
    border-radius: 35px;
    background: #CCC2BA;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-between;
    gap:20px;
    max-width: 800px;
}

#recipeNav{
    justify-content:space-between;
}
#brewInfo{
    display: flex;
    flex-direction: row;
    gap:20px;
    justify-content:space-between;
}

#waterML{
    border-radius: 50px;
    background: #6D5747;
    padding: 10px 30px;
    gap: 10px;
    color:white;
}

#pourTime{
    border-radius: 50px;
    background: #677266;
    padding: 10px 30px;
    gap: 10px;
    color:white;
}

#preparation{
    border-radius: 30px;
    background: #443939;
    width:500px;
    padding:10px 50px 10px 50px;
    color: white;
}

#timeDisplay{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    border: 10px solid #6D5747;
    background: #EEE6E0;
    width:500px;
    padding:50px;
}

.timerText{
    color: #443939;
    text-align: center;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#timerBtnNav{
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

#startTimer{
    border-radius: 50px;
    border:none;
    background: #677266;
    color:white;
    padding: 10px 50px;
    transition: 0.5s;
}

#startTimer:hover{
    border-radius: 50px;
    border:none;
    background: #44674c;
    color:white;
    padding: 10px 60px;
    transition: 0.5s;
}

#pauseTimer{
    border-radius: 50px;
    border:none;
    background: #797776;
    color:white;
    padding: 10px 50px;
    transition: 0.5s;
}

#pauseTimer:hover{
    border-radius: 50px;
    border:none;
    background: #696461;
    color:white;
    padding: 10px 60px;
    transition: 0.5s;
}


#brewAgain{
    border-radius: 50px;
    border:none;
    background: #815641;
    color:white;
    padding: 10px 30px;
    transition: 0.5s;
}
#brewAgain:hover{
    border-radius: 50px;
    border:none;
    background: #8e6550;
    color:white;
    padding: 10px 50px;
    transition: 0.5s;
}