<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coffee Time</title>
    <link rel="stylesheet" href="../style/style.css"></head>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Oxygen+Mono&display=swap');
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="../script/recipe.js"></script>

    
        <body>
        <div id="container"> 
            <header>
                <div id="logo">COFFEE TIME</div>
                <div id="headernav">
                    <ul class="navlist">
                        <li><a href="../index.html">Home</a></li>
                        <!-- <li>Ratio Convertor</li> -->
                    </ul>
                </div>
            </header>

            <main>
                <div id="formBackground"> 
                    <div id="recipeNav">
                    <h2 class="addRecipeTitle">Add Espresso Recipe</h2>
                    <a href="../index.html"><p class="addRecipeBtn">BACK</p> </a>
                    </div>
                    <form id="addEspressoRecipe" class="addRecipe">

                        <label for="coffeeBean">Coffee Bean</label>
                        <input type="text" id="coffeeBean" name="coffeeBean" required>

                        <label for="beanGrams">Bean weight (grams)</label>
                        <input type="text" inputmode="numeric" id="beanGrams" name="beanGrams" required>

                        <label for="yieldML">Expected Yield (ML)</label>
                        <input type="text" inputmode="numeric" id="yieldML" name="yieldML" min="0" step="0.1" required>
                      
                        <label for="brewingTime">Brewing Time (seconds) </label>
                        <input type="text" inputmode="numeric" id="brewingTime" name="brewingTime" required>

                        <label for="temperature">Temperature (&#8451;) </label>
                        <input type="text" inputmode="numeric" id="temperature" name="temperature" required>

                        <input type="submit" id="submit" name="submit" class="addRecipeBtn">
                    </form>
                </div>
            </main>
        
        </div>
        </body>