<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coffee Time</title>
</head>
<body>
    <header>
        <div id="logo">COFFEE TIME</div>
        <div id="nav">
            <p id="espressoRecipesBtn">ESPRESSO MACHINE RECIPES</h2>
            <p id="addRecipeBtn">+ ADD RECIPE</h2>
        </div>
    </header>

    <main>
        <div id="noneSection"> 
            <h3> There are no recipes. Add one now! </h3>
            <p id="addRecipeBtn">+ ADD RECIPE</h2>
        </div>
        <div id="recipeList">
            <h2 id="recipeTitle"></h2>
            <div id="recipeInfo">
                <p id="waterML"></p>
                <p id="pourTime"></p>                
            </div>
            <p id="brewNowBtn">Brew Now</h2>
        </div>        
    </main>


</body>
</html>