<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coffee Time</title>
    <link rel="stylesheet" href="../style/style.css"></head>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="../script/brew.js"></script>

        
        <body>
            <header>
                <div id="logo">COFFEE TIME</div>
                
                <div id="brewBackground">
                    <div id="recipeNav">
                        <h2 id="recipeTitle">Ethiopian Yirgacheffee</h2>
                        <a href="../index.html"><p class="addRecipeBtn">BACK</h2> </a>
                    </div>
                    <div id="brewInfo">
                        <p id="waterML">YIELD: 0 ML</p>
                        <p id="pourTime">TOTAL BREW TIME: 0 Seconds</p>        
                    </div>
                    <div id="preparation">
                        <p id="beansGram">14 grams of beans, fine grind</p>
                        <p id="temperature">Adjust your espresso machine temperature to 93C</p>        
                    </div>
                    <div id="timeDisplay">
                        <span id="secsOut">00:</span>
                        <span id="miliSecsOut">00</span>
                        <span id="brewFinished">Brew Finished! Enjoy your cup of Joe.</span>
                    </div>

                    <div id="timerBtnNav">
                        <button type="button" id="startTimer">START</button>
                        <button type="button" id="pauseTimer">PAUSE</button>
                        <button type="button" id="brewAgain">BREW AGAIN</button>
                    </div>
            <main>
              
            </main>
        
        
        </body>