<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coffee Time</title>
    <link rel="stylesheet" href="../style/style.css"></head>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Oxygen+Mono&display=swap');
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="../script/brew.js"></script>

        
        <body>
            <div id="container">
            <header>
                <div id="logo">COFFEE TIME</div>
                <div id="headernav">
                    <ul class="navlist">
                        <li><a href="../index.html">Home</a></li>
                        <li>Ratio Convertor</li>
                    </ul>
                </div>
            </header>

            <main>   
                <div id="brewBackground">
                    <div id="recipeNav">
                        <h2 class="recipeBrewTitle">Ethiopian Yirgacheffee</h2>
                        <a href="../index.html"><p class="addRecipeBtn">BACK</p> </a>
                    </div>
                    <div id="brewInfo">
                        <p id="waterML">YIELD: 0 ML</p>
                        <p id="pourTime">TOTAL BREW TIME: 0 Seconds</p>        
                    </div>
                    <div id="preparation">
                        <p class="prepTitle">Preperation:</p>
                        <p id="beansGram">14 grams of beans, fine grind</p>
                        <p id="temperature">Adjust your espresso machine temperature to 93&#8451;</p>        
                    </div>
                    <div id="timeDisplay">
                        <span id="secsOut" class="timerText">00:</span>
                        <span id="miliSecsOut" class="timerText">00</span>
                        <span id="brewFinished" class="finishedText">Brew Finished! Enjoy your cup of Joe.</span>
                    </div>

                    <div id="timerBtnNav">
                        <button type="button" id="startTimer">START</button>
                        <button type="button" id="pauseTimer">PAUSE</button>
                        <button type="button" id="brewAgain">BREW AGAIN</button>
                    </div>

              
            </main>
        
            </div> 
        </body>