<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coffee Time</title>
    <link rel="stylesheet" href="../style/style.css"></head>
<body>
    <header>
        <div id="logo">COFFEE TIME</div>
    </header>
        <div id="recipeNav">
            <p id="espressoRecipesBtn">ESPRESSO MACHINE RECIPES</h2>
            <a href="addRecipe.html"><p class="addRecipeBtn">+ ADD RECIPE</h2> </a>
        </div>
 

    <main>
        <div id="noneSection"> 
            <h3> There are no recipes. Add one now! </h3>
            <a href="addRecipe.html"><p class="addRecipeBtn">+ ADD RECIPE</h2> </a>
        </div>
        <div class="recipeList">
            <h2 class="recipeTitle">Ethiopian Yirgacheffee</h2>
            <div class="listRight">
                <div class="recipeInfo">
                    <p class="waterML">0 ML</p>
                    <p class="pourTime">0 Seconds</p>                
                </div>
                <p class="brewNowBtn">Brew Now</h2>
            </div>
        </div>        
    </main>


</body>
</html>